html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
}

/* From Bootstrap */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  height: 80%;
}
      
header {
  /*background-color: #333;
  padding-top: 25px;
  padding-bottom: 25px;*/
}

@media only screen and (min-width: 900px) {
.nav, .nav-right {
  font-family: 'Raleway', sans-serif;
  list-style-type: none; 
  margin: 0;
  padding: 0;

}

.nav {
  background-color: #f5f5f5;
  border-bottom: 5px solid #333;
  float: left;
  width: 100%;
}

.nav > li {
  float: left;
  margin-bottom: -5px;
  border-bottom: 5px solid transparent;
  text-align: left;
}

.nav li a {
  display: block;
  text-decoration: none;
  white-space: normal;
}

.nav > li > a {
  color: #333;
  display: block;
  font-size: 1.3em;
  line-height: 50px;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav > li:hover > a, .nav > a:hover {
  background-color: #F55856;
  color: #fff;
}

.nav-right > li {
  float: right;
  margin-bottom: -5px;
  border-bottom: 5px solid transparent;
  text-align: right;
}
.nav-right li a {
  display: block;
  text-decoration: none;
  white-space: normal;
}

.nav-right > li > a {
  color: #333;
  display: block;
  font-size: 1.3em;
  line-height: 50px;
  padding: 0 15px;
  text-transform: uppercase;
}

.nav-right > li:hover > a, .nav-right > a:hover {
  background-color: #F55856;
  color: #fff;
}

} /* end of @media query */

/*
.nav-right li {
  font-size: 20px;
  float: right;
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;        
  font-size: 20px;
  margin-right: 25px;
  text-transform: uppercase;
}*/


/*.nav-left li a:hover {
	background-color: red;
}*/


/*.nav li:first-child {
  font-size: 20px;
  float: left;
}

.nav li{
  float: right;
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;        
  font-size: 20px;
  margin-right: 25px;
  text-transform: uppercase;
}*/

a {
  /*color: #fff;*/
}

div {
  overflow: hidden;
}

hr {
  margin: 0;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.btnContainer {
  padding: 20px 30px;
  text-align: center;
}

.footer {
  height: 5%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #333;
  padding-top: 20px;
}

.footer a {
  color: #fff;
  margin: 0 10px;
}

/* CSS for transactions table */
#table-design {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	border: 1px solid #B0B0B0;

	/* Font related */
	font-size: 18px;
}

#table-design tbody {
  /* Kind of irrelevant unless your .css is alreadt doing something else */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#table-design thead {
  text-align: left;
}

#table-design thead th {
  background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
  border: 1px solid #B0B0B0;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 10px;
}

#table-design td {
  padding: 3px 10px;

}

/*#table-design tr:nth-child(even) {
  background: #F2F2F2;
}*/

@media only screen and (max-width: 900px) {

.container-fluid {
  background-color: #333;
  text-align: center;
}

.nav, .nav-right {
  list-style-type: none;
  text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
}

}