html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
}

.jumbotron {
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  height: 600px;
}
      
header {
  background-color: #333;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav {
  list-style-type: none; 
  margin: 0;

}

.nav li:first-child {
  font-size: 20px;
  float: left;
}

.nav li{
  float: right;
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;        
  font-size: 20px;
  margin-right: 25px;
  text-transform: uppercase;
}

a {
  color: #fff;
}

.col {
  width: 50%;
  float: left;
  background: #1DE9B6;
  height: 600px;
}

.tab {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 33%;
  float: left;
  background: #1DE9B6;
  text-align: center; 
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  margin-top: 1px;
}

.tab:hover {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

div {
  overflow: hidden;
}

.tabs-bar {
  width: 95%;
  margin: 0 auto;
  height: 100%;
}

.tabs-bar a {
  color: black;
}

@media only screen and (max-width: 905px) {
  .tab {
    width: 32%;
  }
}

.indicatorContainer {
  width: 320px; /* change hard coding and figure out how to make outer
                 * div the same height/width of the inner div 
                 */
  padding-top: 20px;
  margin: 0 auto;               
}

.weeklyIndicator {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.currentSpendings {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

#pig-avatar {
  text-align: center;
  display: inline-block;
}

#avatar-image {
  background-color: white;
  
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}

hr {
  margin: 0;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.btn-piggy {
  background-color: #94E85F;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;

  padding: 10px 20px;

  margin: 5px 0;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;

}

.btnContainer {
  padding: 20px 30px;
  text-align: center;
}

.buttons {
  padding: 11px 20px;
  height: 50px;
}

.progress-bar {
    font-family: 'Raleway', sans-serif;
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 50px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;   

}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
}

.blue span {
    background-color: #34c2e3;   
}
