html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.indicatorContainer {
  width: 320px;
  height: 320px;
  padding-top: 20px;
  margin: 0 auto;
}

.addSpendingBtn {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 30px;
}

.btn-primary {
  background-color: #333;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 25px;
}

.btnContainer {
  padding: 15px 25px;
  text-align: center;
}

#avatar-image {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}

.btn-piggy {
  background-color: #94E85F;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;

  padding: 10px 20px;

  margin: 5px 0;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  text-align: center;

}

.buttons {
	text-align: center;
}

.footer > .container-fluid {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}

.footer > .container-fluid a {
  font-size: 16px;
  margin-right: 6px;
  margin-left: 6px;
}
