body{
    padding: 50px;
    font-family: 'Roboto';
}
.modal-dialog {
    width: 300px;
}
.modal-footer {
    height: 70px;
    margin: 0;
}
.modal-footer .btn {
    font-weight: bold;
}
.modal-footer .progress {
    display: none;
    height: 32px;
    margin: 0;
}
.input-group-addon {
    color: #fff;
    background: #3276B1;
}

#submitBtn {
  border: none;
  display: inline-block;
}

#loginBtn {
  border: none;
  display: inline-block;
}

.btn-space {
  margin-right: 20px;
}

.move-left {
  margin-left: -20%;
}
