html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hidden {
  display: none;
}

.setup-info {
  color: #00BED0;
}

section {
  padding: 0px 15px 15px 15px;
}

#avatar-image {
  margin: 20px;
}
