#avatar-image {
  margin-top: 5%;
  margin-bottom: 5%;
}

.info {
  display: inline-block;
}

.info-bar{
  margin: auto;
  text-align: center;
}

#shopBtnMove {
  padding-left: 30px;
}

.item-wrapper {
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  border-color: #DBDCDD;
  display: block;
  text-align: center;
  margin: 5% 10% 5% 10%;
  padding-bottom: 2%;
  padding-top: 2%;
}

.itemCanvas {
  width: 250px;
  height: 250px;
}

.shop {
  text-align: center;
}

.item-section {
  text-align: center;
}

.modal-body {
  text-align: center;
}

.hide {
  display: none;
}

.item-img {
  display: none;
}

#piggyVersion {
  display: none;
}

.item-code {
  display: none;
}

.buy-button {
  background-color: #00BED0;
}

.buy-button:hover {
  background-color: #0076a3;
}

.wear-button {
  background-color: #00BED0;
}

.wear-button:hover {
  background-color: #0076a3;
}
