html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.jumbotron {
  background-image: url('../images/piggybank.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  height: 92%;
  margin-bottom: 0;
  padding: 0;
}

#splashMessage {
  padding-top: 20px;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

/* Customize Bootstrap */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
  background-color: #e0e0e0;
}

.btnContainer {
  padding: 20px 30px;
  text-align: center;
}

.btn-primary {
  background-color: #333;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 30px 10px 30px;
}

.btn-primary a {
  color: #fff;
}
