.jumbotron {
  /*background-image: url('../images/piggybank.jpg');*/
  background-color: #00BED0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  height: 92%;
  margin-bottom: 0;
  padding: 0;
}

#splashMessage {
  padding-top: 20px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  /*text-shadow: 0 0 30px white, 0 0 30px white, 0 0 20px white, 0 0 20px white, 0 0 30px white;*/
}

.btn-primary a {
  color: #fff;
}

.btn-primary {
  padding-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.btn-primary:hover {
  background-color: #9e005d;
  text-decoration: none;
}
